html, body {
  height: 100%;
  background-color: #142952;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

a, a:focus, a:hover {
  color: #fff;
}

.logodiv {
    margin:auto;
    width: 250px;
    height: 250px;
}

.logo {
    width: 80%;
    height: 80%;
}

.signInBox {
    border: 2px solid white;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 10px;
}

.signInText {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    width: 35%;
}

.helpText {
    font-size: 12px;
    float: right;
    padding: 5px;
}

.signInForm {
    display: inline-block;
    padding: 10px;
    width: 60%;
}

#logIn {
    display: block;
}

#createUser {
    display: none;
}


.footer {
  font-weight: 100;
  font-size: 16px;
}

.footer a {
  font-weight: 400;
}

/* Custom default button */
.btn-default, .btn-default:hover, .btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.7);
          box-shadow: inset 0 0 100px rgba(0,0,0,.7);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

@media (min-width: 768px) {

  .site-wrapper-inner {
    vertical-align: middle;
  }

  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {

  .cover-container {
    width: 700px;
  }
}
