html, body {overflow-x: hidden;} /* Prevent scroll on narrow devices */

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.answer {
    margin-top: 6px;
}

.capybot {color:#142952;}

.btn- {background-color:#142952;}

.capybot:hover {
    text-decoration: none;
}

.knapp {
    font-weight: bold;
}

.code {
    width: 50%;
    height: 50px;
    font-size: 20px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .marketing, .footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #142952;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #142952;
}

#profile_body {
  padding-top: 30px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  #profile_body {
    padding-top: 0px;
  }

}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #142952;
  color: #fff;
  background-color: #142952;
  padding: 10px;
  padding-bottom: 25px;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.2);
          box-shadow: inset 0 0 100px rgba(0,0,0,.2);
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 14px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Navbar */
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Questions*/
.wrapper {
    position: relative;
    width: 250px;
    height: 300px;
    border: 1px dashed #ccc;
    margin: 10px;
}

.line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ccc;
    z-index: 1;
}

.wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
}

.word {
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px;
    font: bold 12px arial,sans-serif;
    background: #fff;
}

/*Headers in student*/
.student_headers {
  text-align: center;
}

/*Question-box*/
.arrow-up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid white;
}

.questbox {
  border-bottom: 1px solid #e7e7e7;
  color: black;
  background-color: #e7e7e7;
  padding: 20px;
  padding-bottom: 25px;
  margin: 10px;
}

#profile_body {
  text-align: center;
}


/* Highscore tabell */
th, td {
    padding: 15px;
}
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

#subjectID {
    text-align: center;
}
